<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.coongyapay.user.mapper.UserPasswordMapper">

    <insert id="insert" parameterType="com.flab.coongyapay.user.mapper.dto.UserPasswordDto"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_password (user_id, password, failed_login_count, locked_until)
        VALUES (#{userId}, #{password}, #{failedLoginCount}, #{lockedUntil})
    </insert>

</mapper>