<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.coongyapay.user.mapper.UserTransferPinMapper">

    <insert id="insert" parameterType="com.flab.coongyapay.user.mapper.dto.UserTransferPinDto"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_transfer_pin (user_id, transfer_pin, failed_transfer_pin_count, locked_until)
        VALUES (#{userId}, #{transferPin}, #{failedTransferPinCount}, #{lockedUntil})
    </insert>

    <select id="findByUserIdForUpdate" resultType="com.flab.coongyapay.user.mapper.dto.UserTransferPinDto">
        SELECT id, user_id, transfer_pin, failed_transfer_pin_count, locked_until
        FROM user_transfer_pin
        WHERE user_id = #{userId}
        FOR UPDATE
    </select>

    <update id="update">
        UPDATE user_transfer_pin
           SET failed_transfer_pin_count = #{failedTransferPinCount}, locked_until = #{lockedUntil}
         WHERE id = #{id}
    </update>
</mapper>